body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.home-container {
    width: 80%; 
    max-width: 800px; 
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header {
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2rem; 
}

main {
    margin-bottom: 20px;
    text-align: left; 
}


main p {
    font-size: 1.2rem; 
    line-height: 1.6; 
    margin-bottom: 10px;
}

main ul {
    list-style-type: disc; 
    margin-left: 20px; 
    margin-bottom: 20px;
}

main ul li {
    font-size: 1.1rem; 
}

button#start-quiz {
    padding: 10px 30px; 
    font-size: 1.2rem; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

button#start-quiz:hover {
    background-color: #0056b3; 
}

